<aside class="sidebar">
  <div class="sidebar-logo">
    <img src="toro-blanco.svg" />
    <span>Toran</span>
  </div>

  <nav class="sidebar-links">
    @if (auth.autenticado()) {
      <a
        routerLink="/publicaciones"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><i class="bi bi-house"></i>Publicaciones</a
      >
      <a routerLink="/mi-perfil" routerLinkActive="active"><i class="bi bi-person"></i>Mi perfil</a>
      @if (auth.esAdmin()) {
        <a routerLink="/usuarios" routerLinkActive="active"><i class="bi bi-people"></i>Usuarios</a>
      }
      <a class="logout" style="cursor: pointer" (click)="auth.logout()"
        ><i class="bi bi-box-arrow-right"></i>Cerrar sesión</a
      >
    } @else {
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/registro" routerLinkActive="active">Registro</a>
    }
  </nav>
</aside>
